<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>BitTorrent on the ways</b>
  </div>
  <strong>Copyright &copy; 2014-2016 <a href="https://www.koogle.cc">Koogle.Zhang</a>.</strong>
</footer>