<%= content_for(:title,  '添加文件 | Master') %>
<section class="content-header">
  <h1>
    添加文件
  </h1>
  <ol class="breadcrumb">
    <li class="active"><i class="glyphicon glyphicon-plus"></i> 新增文件</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">新增表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>
