<%= content_for(:title,  '更新用户信息信息| Master') %>
<section class="content-header">
  <h1>
    更新用户信息
  </h1>
  <ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-edit"></i> 更新用户</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">编辑表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section><!-- END PAGE CONTENT -->